<nav>
    <div class="jumbotron">
        <div class="text-center">
            <h1>TennisPart</h1>
        </div>
    </div>
 </nav>

<div class="wrapper">
    <div class="wrapped-div">
      <div class="tab-header">
        <h2 routerLink='/user/login' routerLinkActive='active'>Se connecter</h2>
        <h2 routerLink='/user/registration' routerLinkActive='active'>S'enregistrer</h2>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 text-center">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  
