
<div class="container">
  
    <div class="container-fluid bg-white text-center Padding30">
        <h2>Dashboard</h2>
        <div class="row">
            <div class="col-sm-12 col-lg-12" (click) ="onClickProfil()">
                <i class="fas fa-user logo-medium"></i>
                <h4>My Profil</h4>
            </div>
            <div class="col-sm-6 col-lg-3" (click) ="onClickFind()">
                <i class="fas fa-search logo-small"></i>
                <h4>Find a part!</h4>
            </div>
            <div class="col-sm-6 col-lg-3" (click) ="onClickReply()">
                <i class="fas fa-reply logo-small"></i>
                <h4>Reply to a request</h4>
            </div>
            <div class="col-sm-6 col-lg-3" (click) ="onClickTroc()">
                <i class="fas fa-comments-dollar logo-small"></i>
                <h4>Troc'Part</h4>
            </div>
            <div class="col-sm-6 col-lg-3"  (click) ="onClickHistory()">
                <i class="fas fa-trophy logo-small"></i>
                <h4>History</h4>
            </div>

        </div>
    
    </div>
</div>




