

.jumbotron {
    background: #C95A1B;
    color: white;
    font-weight: bold;
}

.bg-white {
    background: white;
}

.logo-small {
    color: #c95a1b;
    font-size: 50px;
    padding-top: 30px;
}
.logo-medium {
    color: #c95a1b;
    font-size: 130px;
    padding-top: 30px;
}
.Padding30
{
    padding: 30px;
}

.backtest{
    background-color: red;
    height: 0;
}

/* .parallaxHome {
    /* The image used 
    background-image: url(.\app\Images\Nadal.jpg);
    /* Set a specific height 
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

input[type=number], input[type=text],input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    display: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.div-login
{
    margin: 12px 0; 
}


input[type=submit] {
    width: 140px;
    background-color: #C95A1B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(165, 72, 18)
}

body
{
    background-color: #ccd6dd;
}

 /* Tabs */
 .tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }