<div class="container-fluid">
  <div class="row">
      
      <form #form='ngForm' (submit)="onSubmit(form)" autocomplete="off" class="col-sm-4 col-md-4 ">
        
          <div class="form-group">
              <input required type="text" class="form-control" 
              id="Username" name="Username" placeholder="Username">
          </div>

          <div class="form-group">
              <input required type="text" class="form-control" 
              id="mdp" name="mdp" placeholder="Mot de passe">
          </div>
       
          <input type="submit" [disabled] = "!form.valid" class="btn btn-danger" value="Sign In!">
      </form>
        

  </div>

</div>


