<div class="container-fluid">
  <div class="row">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()" class="col-sm-4 col-md-4 div-login">

        <div class="form-group ">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle Logo-login"></i>
                    </div>
                </div>   
        <input placeholder="Pseudo" required class="form-control" type="text" formControlName="UserName">
      </div>
      <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Champs obligatoire</label>
    
    </div>


    <div class="form-group ">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-envelope Logo-login"></i>
                </div>
            </div>   
        <input class="form-control" type="email" placeholder="E-mail" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Adresse email invalide</label>
      </div>
    </div>   


    <div class="form-group ">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle Logo-login"></i>
                </div>
            </div>   
        <input class="form-control" type="text" placeholder="Nom complet" formControlName="FullName">
      </div>
    </div>   


      <div formGroupName="Passwords">
        
    <div class="form-group ">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-key Logo-login"></i>
                </div>
            </div> 
          <input required  type="password" class="form-control" placeholder="Mot de passe" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Champs obligatoire</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Mot de passe fragile!</label>
        </div>
      </div> 
        
    <div class="form-group ">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-key Logo-login"></i>
                </div>
            </div> 
          <input required type="password" placeholder="Confirmer le mot de passe" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Champs obligatoire</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Les deux mots de passe ne sont pas identiques</label>
        </div>
      </div>  
      </div>
     
          <input type="submit" class="btn btn-sm"  [disabled]="!service.formModel.valid" value="Valider">
    
    </form>
  </div>
</div>